<div style="width:100%;background:#f2f2f2;height:100%;position: absolute;padding-left: 310px;">
	<div style="width: 100%;text-align: center;font-size: 34px;margin-top: 50px;">
		<i class="fa fa-user fa-4x"></i>
	</div>

	<div style="width: 100%;text-align: center;font-size: 34px;">
	<h2>ÉN PROFILOM</h2>
	</div>
	<div style="margin-top: 50px;">
		<div style="width: 30%;font-size: 34px;float:left;padding: 15px;">
			<h2 style="margin: 0;text-align: center;background: #34A853;color: #fff;padding: 10px;">SZEMÉLYES ADATOK</h2>
			<div style="background: #EAE8E8;font-size: 19px;padding:10px;">
				<div style="border-bottom:  1px dashed #aaa;padding: 5px 0;">Teljes név <span style="float:right;">Példa Béla</span></div>
				<div style="border-bottom:  1px dashed #aaa;padding: 5px 0;">Felhasználónév <span style="float:right;">PBéla</span></div>
				<div style="border-bottom:  1px dashed #aaa;padding: 5px 0;">Születési hely, idő <span style="float:right;">Budapest, 2016.04.26</span></div>
				<div style="border-bottom:  1px dashed #aaa;padding: 5px 0;">E-mail cím <span style="float:right;">test@teszt.test</span></div>
			</div>
		</div>
		<div style="width: 70%;font-size: 34px;float:left;padding: 15px;">
			<h2 style="margin: 0;text-align: center;background: #EA4335;color: #fff;padding: 10px;">ELLENÖRZŐ</h2>			<div style="font-size: 19px;padding:10px;">
				<div style="border-bottom:  1px solid #dadada;padding: 5px 0;">PHP - Alapok I. <span style="color:#34A853;float:right;">Sikeresen levizsgáztál!</span></div>
				<div style="border-bottom:  1px solid #dadada;padding: 5px 0;">PHP - Alapok II. <span style="color:#EA4335;float:right;">Sikertelen vizsga!</span></div>
				<div style="border-bottom:  1px solid #dadada;padding: 5px 0;">PHP - Alapok III. <span style="color:#FBBC05;float:right;">Még nem vizsgáztál belőle!</span></div>
			</div>
		</div>
	</div>
</div>